/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Josh Comeau Reset complete */

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

@font-face {
    font-family: norse-bold;
    src: url("Norse-Bold.otf") format("opentype");
}

form {
    gap: 20px;
    padding-bottom: 30px;
}

input {
    appearance: none;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

.main-container {
    height: 100vh;
}

.flex {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.centered {
    justify-content: center;
}

.relative {
    position: relative;
}

a {
    color: white;
}

.left-column {
    flex: 1;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.right-column {
    flex: 2;
    background-color: rgb(240, 240, 240);
}

.logo {
    padding: 10px 0px;
    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo h1 {
    font-family: norse-bold;
    font-size: 5rem;
    line-height: 0;
    font-weight: 300;
}

.credit {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}

.hook p {
    max-inline-size: 45ch;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.right-column h3 {
    font-size: 1.5rem;
}

.right-column > :not(form) {
    padding: 0px 45px;
}

.form-container h3 {
    background-color: white;
}

.input-container label {
    display: block;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.input-row-container {
    gap: 75px;
}

button[type="submit"] {
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 600;
    border: 0;
    background-color: #596D48;
    border-radius: 5px;
    margin: 0px 45px;
}

input[type="password"]:invalid {
  border-color: red;
}

input:focus {
  outline: none;
  border: 2px solid #0080ff;
  box-shadow: 1px 1px 2px grey;
}

input {
  padding-left: 10px;
}

.login-container a {
    color: #596D48;
    text-decoration: none;
}

.login-container {
    font-weight: 600;
}

.master-input-container {
    background-color: white;
    box-shadow: 0px 1px 10px rgb(194, 194, 194);
    padding: 30px 45px;
    gap: 20px;
}